elasticsearch
elasticsearch-dsl
scrapy
scrapy-splash
selenium
bs4
webdriver_manager
pandas
numpy
streamlit
streamlit-aggrid
beautifulsoup4
itemadapter
nltk
contractions
textblob
textblob_fr
plotly
vaderSentiment_fr
