elasticsearch
elasticsearch-dsl
scrapy~=2.6.1
scrapy-splash
selenium~=4.1.5
bs4~=0.0.1
webdriver_manager
pandas~=1.4.1
numpy~=1.22.3
streamlit~=1.10.0
streamlit-aggrid
beautifulsoup4~=4.11.1
itemadapter~=0.5.0
nltk~=3.7
contractions~=0.1.72
textblob~=0.17.1